.category-card-item__header{
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.categories-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 20px;
}

.category-card-item__image {
    width: 155px;
    height: 164px;
    
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
}

/* ------------------- Media Queries ------------------------- */

@media (min-width: 521px) {

    .category-card-item__image {
        width: 195px;
        height: 206px;
    }
}